.expanded {
  width: 250px;   
}
.main-content {
  background: var(--gray-B5);
  color: var(--gray-W3);
}
.sidebar {
  background: var(--gray-B3);
  color: var(--gray-W3);
}

.sidebar ul li {
  background: var(--gray-B1);
}

.sidebar ul li:hover {
  background: var(--gray-0);
}

button {
  background: var(--gray-B3);
  color: var(--gray-W3);
}

button:hover {
  background: var(--gray-B1);
}
