.sidebar {
  background: var(--teal-B3);
  color: var(--teal-W3);
}

.sidebar ul li {
  background: var(--teal-B1);
}

.sidebar ul li:hover {
  background: var(--teal-0);
}

.main-content {
  background: var(--teal-B4);
  color: var(--teal-W3);
}

.title {
  border-bottom: 1px solid var(--teal-W3);
}
.main-content {
  background: var(--teal-B4);
  color: var(--teal-W3);
}
  
.menu-item {
  background: var(--royal-B3);
  color: var(--teal-W3);
  text-align: start;
}
.menu-item:hover {
  background-color: var(--teal-B4);
  text-align: end;
}
.active {
  background: var(--teal-B3);
  color: var(--teal-W5);
  font-weight: bold;
  text-align: end;
}