<header class="header container-fluid">
    <div class="left-brand">
      <img class="logoImg" src="/assets/img/logo/logo.webp" alt="Logo da Advocacia" />
      <a class="brandName" href="#">Advogados Associados</a>
    </div>
    <div class="publicLinks">
      <a href="#">Home</a>
      <a href="#divTeam">Advogados</a>
      <a href="#divServices">Serviços</a>
      <a href="#divContact">Contato</a>
    </div>
    <div id="divAreas" class="areas hidden">
      <p class="small">Áreas de acesso</p>
      <div class="protectedLinks">
        <a id="link-dash" class="nav-link hidden" routerLink="/dashboard">Admin</a>
        <a id="link-reports" class="nav-link hidden" routerLink="/reports">Clientes</a>
        <a id="link-meetings" class="nav-link hidden" routerLink="/meetings">Advogados</a>
      </div>
    </div>
    <div class="right">
    <img id="country" class="country" src="/assets/img/flags/brazil.png" alt="flag">
    <a id="btn-login" class="nav-link small" routerLink="/login">Login</a>
    </div>
</header>