
  .logo a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
    text-decoration: none;
  }

  .logo img {
      max-height: 32px;
  }
  .nav-links a {
      color: #F1DBA2;
      text-decoration: none;
      transition: color 0.3s;
  }
  .nav-links a:hover {
      color: goldenrod;
  }


.header, .left, .right {
    display: flex;
    gap: 20px;
}
.header {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}
.left {
    justify-content: center;
    align-items: center;
}
.left-brand {
    gap: 10px;
}
.brandName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    margin-left: 10px;
}
.right {
    justify-content: end;
    align-items: center;
}
.logoImg {
    width: 35px;
}

.hidden {
    display: none;
}
.small {
    font-size: small;
}