  <nav class="header navbar navbar-expand-lg" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <a class="navbar-brand nav-link" href="#">Advocacia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#divTeam">Advogados</a></li>
          <li class="nav-item"><a class="nav-link" href="#divServices">Serviços (FAQ)</a></li>
          <li class="nav-item"><a class="nav-link" href="#divContact">Contato</a></li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li id="link-dash" class="lwr-meetings nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
          <li id="link-reports" class="clt-reports nav-item"><a class="nav-link" routerLink="/reports">Reports</a></li>
          <li id="link-meetings" class="lwr-meetings nav-item"><a class="nav-link" routerLink="/meetings">Meeting now</a></li>
        </ul>

        <div class="rightItems">
          <span id="txt-userName">User name</span>
          <a class="nav-link" routerLink="/login"><i id="btn-user" class="fa-solid fa-user btn-user" title="Login"></i></a>
        </div>
      </div>
    </div>
</nav>