.header {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    z-index:3;
    position:fixed;
    top:0;
    width:100%;
    background:var(--goldenrod-B5);
    border-bottom:3px solid #000;
  }

  .logo a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
  }

  .logo img {
      max-height: 32px;
  }
  .nav-links a, .right a {
      color: #F1DBA2;
      text-decoration: none;
      transition: color 0.3s;
  }
  .nav-links a:hover {
      color: goldenrod;
  }


  .header, .left, .right, .publicLinks, .protectedLinks {
    display: flex;
    gap: 20px;
}
.header a, .left a, .right a, .publicLinks a, .protectedLinks a {
    text-decoration: none;
}
.header a:hover, .left a:hover, .right a:hover, .publicLinks a:hover, .protectedLinks a:hover {
    border-bottom: 2px solid var(--goldenrod-0);
}
.header {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}
.left, .publicLinks, .protectedLinks {
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
}
.left-brand {
    gap: 10px;
}
.brandName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    margin-left: 10px;
}
.right {
    justify-content: end;
    align-items: center;
}
.logoImg {
    width: 35px;
}

.hidden {
    display: none;
}
.small {
    font-size: small;
}
#txt-userName {
    color: #F1DBA2;
    cursor: pointer;
}