.header { 
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1001; 
    background-color: var(--goldenrod-B5);
}
.rightItems {
    display: flex;
    gap: 10px;
    align-items: center;
}
.clt-reports, .lwr-meetings, .lwr-meetings, .btn-user  {
    color: var(--goldenrod-W5);
    cursor: pointer;
    display: none;
}
.btn-user {
    display: block;
}
#txt-userName {
    color: var(--goldenrod-W5);
    display:none;
}
.btn-user:hover {
    color: var(--goldenrod-B2);
}
