<header class="header container-fluid">
    <div class="left-brand">
      <img class="logoImg" src="/assets/img/logo/logo.webp" alt="Logo da Advocacia" />
      <a class="brandName" href="#">Advogados Associados</a>
    </div>
    <div class="publicLinks">
      <a href="#">Home</a>
      <a href="#divTeam">Advogados</a>
      <a href="#divServices">Serviços</a>
      <a href="#divContact">Contato</a>
    </div>
    <div class="protectedLinks">
      <a id="link-dash" class="nav-link hidden" routerLink="/dashboard">Dashboard</a>
      <a id="link-reports" class="nav-link hidden" routerLink="/reports">Relatórios</a>
      <a id="link-meetings" class="nav-link hidden" routerLink="/meetings">Reuniões</a>
    </div>
    <div class="right">
    <img id="country" class="country" src="/assets/img/flags/brazil.png" alt="flag">
    <span id="txt-userName" class="hidden">User name</span>
      <a id="btn-login" class="nav-link small" routerLink="/login">Login</a>
    </div>
</header>