<div class="bg-dark">
    <ul class="nav justify-content-center border-bottom mb-2">
        <li class="nav-item"><a routerLink="/contact" class="nav-link px-3 text-white">Contratar</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">Meeting Now</a></li>
        <li class="nav-item"><a routerLink="/team" class="nav-link px-3 text-white">Associados</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">FAQs</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">Políticas</a></li>
    </ul>
</div>

