<div class="inner-view">
    <aside id="sideBar"  class="sidebar">
      <div class="side-top">
        <i id="btnToogle" class="menu-bars fa-solid fa-bars" (click)="toogleMenu();" title="Opções do administrador"></i>
        <p class="title m-0 p-0">Admin</p>
      </div>
      <ul class="menu-list">
        <li class="menu-item" routerLink="/dashboard">Dashboard</li>
        <li class="menu-item" routerLink="/records">Registros</li>
        <li class="menu-item" routerLink="/firebase">Firebase</li>
        <li class="menu-item">Chamadas</li>
        <li class="menu-item" routerLink="/next">Próximos passos</li>
      </ul>
    </aside>
    <div class="main-content">
      <p class="title m-0 p-0">Próximos passos</p>
      <p>Existem pelo menos duas coisas que precisam ser otimizadas, antes de continuar expandindo a funcionalidade deste site/projeto.</p>
      <p>Como por exemplo:</p>
      
      <h5>Componeitização dos formulários</h5>
      <p>Os formulários (login, signup e contato) podem ser "quebrados" em unidades (componentes) menores, a fim de criar (inclusive) uma "identidade visual" para o site - ao invés de encontrar diferentes estilos e comportamentos.</p>

      <h5>Componeitização das "páginas" internas / protegidas [como esta]</h5>
      <p>Separar os menus da área principal, para otimizar o reuso, a manutenção e a implantação de novos componentes e funcionalidades - ao invés de ficar copiando-e-colando (e atualizando componentes pré-desenvolvidos) toda vez que um novo recurso é introduzido.</p>

      <h5>Corrigir bugs</h5>
      <li>O site parece estar 'perdendo' o login durante a navegação. Continuar testando e refinando a navegação.</li>
      <li>Corrigir a navegação do Admin, para que ele possa acessar também as áreas do cliente e do advogado.</li>
      <li>Ícone/logo do site na tab. [Ok, corrigido!]</li>
      <li>Etc.</li>

      <h5>Confira também:</h5>
      <li><a routerLink="/firebase">Acessar o Firebase</a></li>




      
    </div>
  </div>
  

