.sidebar {
  background: var(--royal-B3);
  color: var(--royal-W3);
}
.title {
  border-bottom: 1px solid var(--royal-W3);
}
.main-content {
  background: var(--royal-B5);
  color: var(--royal-W3);
}

.menu-item {
  background: var(--royal-B3);
  color: var(--royal-W3);
}
.menu-item:hover {
  background-color: var(--royal-B4);
}
.active {
  background: var(--royal-B3);
  color: var(--royal-W5);
}