.default-view {
    background-color: var(--goldenrod-W3);
    margin-top: 45px;
  }
h2 {
  text-align: start;
  margin-bottom: 30px;
}
.divContent {
  display: flex;
  gap:30px;
  margin: 0 50px;
  justify-content: start;
}
.leftContent, .rightContent {
  display: flex;
  flex-direction: column;
}
img {
  width: 50%;
  padding-bottom: 20px;
  align-self: center;
}
    