<!-- https://www.pinheironeto.com.br/politica-de-privacidade-e-lgpd -->
<section id="divPolicies" class="default-view">
        <div class="top">
            <h2>Nossas políticas</h2> 
        </div>
        <div class="divContent">
            <div class="leftContent">
                <img src="assets/img/team/img1.png" alt="img1">
                <h3>LGPD</h3>

                <p class="small">Em vigor a partir de 5.8.2024</p>

                <p>Pinheiro Neto Advogados (“Pinheiro Neto”) tem o compromisso de respeitar a sua privacidade e adota as medidas necessárias para que o tratamento de seus Dados Pessoais ocorra de acordo com as melhores práticas do marcado.</p>
                
                <p>O objetivo dessa política de privacidade (“Política”) é fornecer informações sobre quais Dados Pessoais coletamos, utilizamos e compartilhamos e para quais finalidades, a fim de dar transparência de como seus Dados Pessoais são coletados e tratados por Pinheiro Neto, na qualidade de controlador de dados.</p>
            </div>
            <div class="rigtContent">
                <h3>Recomendamos que a Política seja lida com atenção.</h3>

                <p>Para fins desta Política, “Usuários” são todos os indivíduos que de alguma forma utilizam a Plataforma de Pinheiro Neto ou que acessem as dependências físicas dos escritórios de Pinheiro Neto (“Visitantes”), incluindo, mas sem se limitar aos clientes e terceiros, fornecedores e prestadores de serviço contratados por Pinheiro Neto (“Fornecedores”), bem como seus empregados e representantes legais (“Colaboradores dos Fornecedores”).</p>
                
                <p>O termo “Plataforma” significa o website de Pinheiro Neto, acessível através da URL http://www.pinheironeto.com.br/, que oferece aos Usuários a possibilidade de inscrição em newsletter, outras publicações e eventos. </p>
                
                <p>O cadastro de pessoas jurídicas como Usuário da Plataforma deverá ser realizado necessariamente por um representante legal devidamente autorizado para tanto. Para fins desta Política, quando o Usuário for uma pessoa jurídica, o seu representante legal também será considerado “Usuário”, na medida em que seus dados pessoais sejam fornecidos e tratados na Plataforma.</p>
                
                <p>Não coletamos ou conscientemente solicitamos informações de menores de 18 anos. Usuários menores de 18 anos não devem nos enviar informações por meio do nossa Plataforma. Se tomarmos conhecimento de que coletamos informações de um indivíduo menor de 18 anos, desconsideraremos as informações fornecidas e não as manteremos em nossas bases. </p>
                
                <p>Para que a Plataforma possa adequadamente oferecer as funcionalidades é necessário que ela tenha acesso a determinadas informações pessoais sobre os Usuários (em conjunto, os “Dados Pessoais”).</p> 
                
                <p>Não é possível oferecer as funcionalidades da Plataforma ou permitir o acesso dos Usuários nas dependências físicas de Pinheiro Neto sem ter acesso a esses Dados Pessoais. Ou seja, o tratamento dos Dados Pessoais é condição para utilizar a Plataforma e para o acesso físico aos nossos escritórios. </p>
                
                <p>Esta Política explica, de maneira simples, objetiva e transparente, quais Dados Pessoais são coletados e tratados por Pinheiro Neto e para quais finalidades, além de indicar com quem eles podem ser compartilhados e quais os recursos disponíveis aos Usuários para fazer a gestão dos Dados Pessoais.</p>
                
                <h4>1.    FONTES DOS DADOS PESSOAIS</h4>
                
                <p>Pinheiro Neto coleta ou recebe dados pessoais quando:</p>
                <p>[...]</p>
            </div>
        </div>
</section>