.expanded {
    width: 250px;   
  }
  .main-content {
    background: var(--gray-B5);
    color: var(--gray-W3);
    display: flex!important;
    flex-direction: column;
    gap:10px;
  }
  .main-content p:not(.title) {
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .sidebar {
    background: var(--gray-B3);
    color: var(--gray-W3);
  }
  
  .sidebar ul li {
    background: var(--gray-B1);
  }
  
  .sidebar ul li:hover {
    background: var(--gray-0);
  }
  
  button {
    background: var(--gray-B3);
    color: var(--gray-W3);
  }
  
  button:hover {
    background: var(--gray-B1);
  }
  
  .main-content h5 {
    margin-top: 30px;
  }


  /**/

  .trash {
    color: red;
}
.buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
    cursor: pointer;
}

.card-footer, .modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.fa-pen-to-square {
    color:orange;
}
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-control, .form-control:active {
    border: 0;
    box-shadow: none;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.title {
    display: flex;
    justify-content: space-between;
}