<div class="inner-view">
    <aside id="sideBar"  class="sidebar">
      <div class="side-top">
        <i id="btnToogle" class="menu-bars fa-solid fa-bars" (click)="toogleMenu();" title="Opções do administrador"></i>
        <p class="title w-100">{{currentName}}</p>
      </div>
      <ul class="menu-list">
        <li class="menu-item" routerLink="/dashboard">Dashboard</li>
        <li class="menu-item" routerLink="/records">Registros</li>
        <li class="menu-item active">Firebase</li>
        <li class="menu-item" routerLink="/next">Próximos passos</li>
      </ul>
    </aside>
    <div class="main-content">
      <p class="title m-0 p-0">Firebase</p>
      <p>Eu pensei em acessar o Firebase por aqui. Então eu pesquisei sobre a API. Encontrei tanta coisa [boa e interessante] que decidi deixar prá depois (de me inteirar mais do assunto).</p>
      <p>Segue alguns links de interesse:</p>
      <ul>
        <li><a href="https://firebase.google.com/docs/reference" target="_blank">Firebase API Reference</a></li>
        <li><a href="https://cloud.google.com/firestore/docs/use-rest-api">Using the Firestore REST API</a></li>
        <li><a href="https://www.freecodecamp.org/news/firebase-angular-application-with-auth-and-realtime-database-ae37fef5859d">Firebase Angular app with auth and real-time database</a></li>
        <li><a href="https://albardev.medium.com/using-firebase-storage-with-angular-a-comprehensive-step-by-step-guide-651515d94af2">Firebase Storage with Angular Step-by-Step Guide</a></li>
        <li><a href="https://blog.angular-university.io/angular-2-firebase/">Angular, Firebase and AngularFire Crash Course</a></li>
        <li><a href="https://www.toptal.com/angular/state-management-in-angular-using-firebase">State Management in Angular Using Firebase</a></li>
        <li><a href="https://jscrambler.com/blog/building-an-app-with-angular-firebase">Building an app with Angular & Firebase</a></li>
        <li><a href="https://firebase.google.com/codelabs/firebase-web-io23#0">Firebase Angular Web Frameworks Codelab</a></li>
        <li><a href="https://developers.google.com/codelabs/building-a-web-app-with-angular-and-firebase#0">Building a web application with Angular and Firebase</a></li>
        <li><a href="https://firebase.google.com/docs/hosting/frameworks/angular">Integrate Angular Universal</a></li>
      </ul>
      <p>Talvez a professora possa sugerir os mais indicados dentre os acima, a fim de otimizar o tempo...</p>
   
      <h5>Confira também:</h5>
      <li><a routerLink="/next">Próximos passos</a></li> </div>
  </div>

 
