<div id="divTeam" class="default-view">
    <div class="view-intro mb-3">
      <h1 class="mt-3">Nosso time</h1>
      <p class="mx-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus perferendis non recusandae dolorem quam, iure corporis delectus vero id aliquam ab odit esse optio alias cupiditate, odio nostrum est dolores.</p>
    </div>
    <div class="team-members">
      <div class="team-member">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="team-member">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
          <h3 class="name">Patricia Knott</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="team-member">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
          <h3 class="name">Justin Ramos</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="team-member">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
        </div>
        <div class="team-content">
          <h3 class="name">Mary Huntley</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
          <li><a href="#" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
