<div id="divTeam" class="section section-borders self-center">
    <div class="top">
      <h2>Sobre Nós</h2>
      <p>Com mais de 20 anos de experiência, nossa advocacia está comprometida em oferecer soluções jurídicas eficazes e personalizadas para nossos clientes. Nosso objetivo é fornecer suporte jurídico com excelência e ética, protegendo os interesses e os direitos de nossos clientes.</p>
    </div>


      <div class="team-members">

        <div class="team-member">
          <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
          </div>
          <div class="team-content">
            <h3 class="name">Bianca</h3>
            <h4 class="title">Família</h4>
          </div>
          <ul class="social">
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/capparelli/" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="team-member">
          <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
          </div>
          <div class="team-content">
            <h3 class="name">Brenda</h3>
            <h4 class="title">Pequenas causas</h4>
          </div>
          <ul class="social">
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/capparelli/" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="team-member">
          <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
          </div>
          <div class="team-content">
            <h3 class="name">Bruna</h3>
            <h4 class="title">Criminal</h4>
          </div>
          <ul class="social">
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/capparelli/" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="team-member">
          <div class="picture">
            <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
          </div>
          <div class="team-content">
            <h3 class="name">Bob</h3>
            <h4 class="title">Trabalhista</h4>
          </div>
          <ul class="social">
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="#" aria-hidden="true"><i class="fa-brands fa-square-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/capparelli/" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>

    </div>
</div>