.default-view-img {
  background-image: url(/assets/img/banner/img2.png);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: var(--goldenrod-W5);
}


.section-borders {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(38, 38, 38, 0.850);
}

.intro {
    text-align: left;
    padding-bottom:20px;
}
.intro p {
    padding-top: 10px;
}
.question {
    padding: 0px 14px;
    padding-top: 12px;
    text-align: left;
}
.answer {
    padding: 0px 30px;
    padding-top: 8px;
    text-align: justify;
    transition: display 2s;
}
.faq-question {
    padding: 0 0 0 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: var(--goldenrod-B3);
    border-radius: 10px;
}
.faq, .faq-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq-answer {
    padding: 0px;
    margin: 0px; 
    display: none;
    overflow: hidden;
    color: var(--goldenrod-B5);
    background-color: var(--goldenrod-0); 
    border-radius: 10px;
    transition: display 2s;
}
.active, .faq-question:hover {
    background-color: var(--goldenrod-B1);
}