.sidebar {
    background: var(--teal-B3);
    color: var(--teal-W3);
  }
  
  .sidebar ul li {
    background: var(--teal-B1);
  }
  
  .sidebar ul li:hover {
    background: var(--teal-0);
  }

  .title {
    border-bottom: 1px solid var(--teal-W3);
  }
  .main-content {
    background: var(--teal-B4);
    color: var(--teal-W3);
  }
    
  .menu-item {
    background: var(--royal-B3);
    color: var(--teal-W3);
    text-align: start;
  }
  .menu-item:hover {
    background-color: var(--teal-B4);
    text-align: end;
  }
  .active {
    background: var(--teal-B3);
    color: var(--teal-W5);
    font-weight: bold;
    text-align: end;
  }


  
  /**/

  .team-members {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .team-member {
    width: 200px;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: var(--royal-W3);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .team-member .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .team-member .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--royal-B3);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .team-member:hover .picture::before {
    height: 100%;
  }
  
  .team-member .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--royal-B5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .team-member .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .team-member:hover .picture img {
    box-shadow: 0 0 0 14px var(--royal-W5);
    transform: scale(0.7);
  }
  .team-member .name {
    color:black;
    margin-bottom: 0px;
   }
  .team-member .title {
    margin-top: 0px;
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .team-member .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--royal-B3);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .team-member:hover .social {
    bottom: 0;
  }
  
  .team-member .social li {
    display: inline-block;
  }
  
  .team-member .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: var(--royal-W3);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .team-member .social li a:hover {
    color: yellow;
  }
  .team-member .social li a:active {
    color: lime;
  }
  