<!-- <div id="divClient" class="default-view">
    <div class="view-intro mb-3">
        <h1 class="mt-3">Área do cliente</h1>
        <p class="mx-5">Lorem ipsum dolor...</p>
    </div>
</div> -->
<div class="inner-view">
    <aside id="sideBar"  class="sidebar">
      <div class="side-top">
        <i id="btnToogle" class="menu-bars fa-solid fa-bars" (click)="toogleMenu();" title="Opções do cliente"></i>
        <p class="title m-0 p-0">Cliente</p>
      </div>
      <ul class="menu-list">
        <li class="menu-item active">Home</li>
        <li class="menu-item" routerLink="/reports">Relatórios</li>
        <li class="menu-item">Calendário</li>
        <li class="menu-item">Pendências</li>
      </ul>
    </aside>
    <div class="main-content">
      <p class="title m-0 p-0">Minha agenda / apontamentos</p>
      <p>Em breve...</p>
    </div>
  </div>
  